/********** Template CSS **********/
:root {
    --primary: #091E3E;
    --primary2: #b9e7ff;
    --primary3: #C5D7F2;
    --secondary: #34AD54;
    --light: #fff;
    --dark: #091E3E;
    --red: #cc0d0d;
}


/*** Spinner ***/
.spinner {
    width: 40px;
    height: 40px;
    background: var(--primary);
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 800 
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 
}

h5,
h6,
.fw-medium {
    font-weight: 600 
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}
.btn-lg-square_profbt {
    width: 10rem;
    height: 45px;
}

.attach_m{
    padding: 10px;
    background-color: #091E3E;
    color: #fff;
    width: 14%;
    margin-bottom: -1px;
    text-align: center;
}
.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.list_styel_none{
    list-style: none;
}
.bg_red_m{
    background: var(--red);
}
.text_red_m{
    color:var(--red)
}
.margin_top_3rem{
    margin-top: 3rem;
}
.font_center_m{
    justify-content: center;
    text-align: center;
    margin:1rem 0 3rem 0;
}
.font_weight600{
    font-weight: 600;
}
.fontcolor_m{
    color: var(--primary);
}

.background_dark_m1{
    background: rgba(9, 30, 62, 0.5);
}

.background_bast_m{
    background-color: #C5D7F2;
}
.border-tbt-m0{
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}
.border-tbt-m1{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.border-bt-m1{
    border-bottom: 1px solid #ccc;
}

/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--light);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary2);
}

.navbar-dark .navbar-brand h1 {
    color: #FFFFFF;
    font-size: 1.5rem;
}

.navbar-dark .navbar-toggler {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.navbar_text_m1{
    text-align: right;
    margin-right: 1.2rem;
}
.navbar_text_m2{
    text-align: right;
    margin-right: 1.2rem;
}

.topbarbtn_home{
    color: #fff;
}
.topbarbtn_home:hover{
    color: #ccc;
}
.topbarbtn_home::before{padding:0 5px 0 5px; content:"|";}
.topbarbtn_home:first-child::before{content:"";}

.text_main_plus01::after{content:"명"; font-size:large;}
.text_main_plus02::after{content:"%"; font-size: large;}


.subheading_textm01{
    color: #C5D7F2 !important;
    font-weight: 400;
}
.cont02_text1_m{
    font-size: 0.8rem;
    white-space: normal;
}
.cont02_btn1_m01{
    display: inline-block;
    margin-top: 9px;    
}
.cont02_btn1_m02{
    float: right;
    padding: 12px;
    border:solid 1px #ccc;
    color: #ccc;
    font-size: 12px;
}
.cont02_btn1_m02:hover {
    color: #091E3E;
    border: solid 1px #091E3E;
}
.cont04_font02_m{
    font-weight: 700;
}
.cont02_img02_m{
    padding:1rem;
}
.cont02_text2_m{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
}
.cont02_maginbottom_m{
    margin-bottom: 1rem;
}
.cont02_video1_m{
    display: flex;
    justify-content: center;
}
.backlogo_m01{
    margin: 0px 0 -96px 0;
    font-size: 8rem;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.07);
}
.col-lg-4_m1{
    padding: 0.5rem;
    margin-top: 1.5rem;
}

.text_after_m > a::before{padding:0 8px 0 8px; content:"|";}
.text_after_m > a:first-child::before{content:"";}

.text_webkit_m{
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.font_size18_m{
    font-size: 1.13rem;
}
.font_size15_m{
    font-size: .94rem;
}
.font_size12_m{
    font-size: .75rem;
}
.color_bulu_m{
    color: #446EDC ;
}
@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--dark);
    }

    .navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
    .col-lg-4_m1{
        width: 50%;
        padding: 0.5rem;
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        background: rgba(9, 30, 62, 0.2);
        z-index: 999;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: #091E3E;
    }
    .navbar-dark .navbar-nav .nav-link{
        font-size:15px;
    }
    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary2);
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-dark .navbar-brand h1 {
        color: var(--light);
    }

}
@media (max-width: 1200px) {

    .font_size15_m{
        font-size: 0.94rem;
    }
}


/*** Carousel ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 30, 62, 0.2);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
    .backlogo_m01{
        font-size: 4rem;
        margin: -32px 0 -70px 0;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}


/*** Service ***/
.service-item {
    position: relative;
    height: 300px;
    padding: 0 30px;
    transition: .5s;
    background: rgba(240,240,240,0.8);
}

.service-item .service-icon {
    margin-bottom: 30px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 2px;
    transform: rotate(-45deg);
}

.service-item .service-icon i {
    transform: rotate(45deg);
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}
.cont02_m01{
   height: 125px;
}
.cont02_img01_m{
    width: 60px;
    margin-right: 10px;
    float: left;
}
.cont02_img03_m{
    justify-content: center;
    align-items: center;
    display: flex;
}
.cont02_img03_m img{
    width: 48%;
}
.cont02_font01m{
    font-size: 18px;
    padding: 19px 0;
    letter-spacing :-0.05em;
}
.cont03_font01m{
    letter-spacing :-0.1em;
}
.cont03_m02{
    height: 180px;
}
.cont02_mr_ft{
    font-size: 1.025rem;
    margin-top: -.3em;
}
.letter-spacing_m{
    letter-spacing :-0.09rem;
}
.cont02-float-start_m1 li{
    float: left;
    margin-left: 30px;
}
.cont02-float-start_m1 li:first-child{list-style: none;}

.cont02-float-start_m1 li p{
    background-color: #ccc;
    border-radius: 30px;
    padding: .5rem;
    font-size: .8rem;
}
/* .cont02-float-start_m1 li::before{padding : 0 10px 0 0; content: "·";}  */
.height-px_m1{
    height: 14rem;
}
/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px #DDDDDD;
}


/*** Team ***/
.team-item {
    transition: .5s;
}

.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-social a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}
.team-item img{
    object-fit: cover;
}
.team-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.team-item:hover .team-social {
    /* background: rgba(9, 30, 62, .7); */
}

.team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.team-item .team-img img,
.blog-item .blog-img img  {
    transition: .5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
    transform: scale(1.15);
}


/*** Miscellaneous ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bg-header {
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../img/navtopimg_m.jpg) center center no-repeat;
    background-size: cover;
}

.link-animated a {
    transition: .5s;
}

.link-animated a:hover {
    padding-left: 10px;
}

@media (min-width: 767.98px) {

    .footerlogo_img01 img{
        width: 37.5%; 
    }
}
@media (max-width: 767.98px) {
    .footerlogo_img01 img{
        width: 20%;
        opacity: 0.5;
    }
    .cont02_img03_m img{
        width: 76%;
    }
    .cont02_mr_ft{
        margin-top: 1.7em;
    }
}
.footerlogo_img01 img{
    opacity: 0.5;
}
.footer_m01{
    background:none;
    text-align: start;
    font-size: 0.75rem;
}
.footer_textm01{
    letter-spacing :-0.08em;
}
.footer_font_m01 {
    font-size: 1.2rem;
}
.footer_font_m02 a{
    font-size: 0.8rem;
}
.footer_margin_m01{
    margin-top: 10px;
}
.footerbt_me{
    color: #fff;
}
.footerbt_me:hover{
    color: #DDDDDD;
}
.footerbt_me::before{padding:0 5px 0 1px; content:"|";}
.footerbt_me:first-child::before{content:"";}

@media (max-width: 991px) and (min-width:768px) {
    .footer_margin_m02 {
        margin-top: 33px;
    }
    .cont02_img03_m img{
        width: 76%;
    }
}


